/* Header component style */
.header {
  height: 75px;
  margin: auto;
  border-bottom: 1px black solid;
}
.navList {
  font-size: 14px;
  font-weight: 400;
}
/* Banner component style */
.bannerTitle {
  font-size: 6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #080808;
}
.bannerDesc {
  font-weight: 400;
  font-size: 24px;
  color: #292929;
}
.M img{
 position: absolute;
 right: 150px;
}
.banner{
  height: 470px;
}
/* Trending component style */
.trend{
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
