/* Header component style */

.navList {
  font-size: 14px;
  font-weight: 400;
}
/* Banner component style */
.bannerTitle {
  font-size: 6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #080808;
  display: inline;}
@media screen and (max-width:800px){
  .bannerTitle{
    font-size: 5rem;
  } 
  .M {
    display: none;
  } 
  }

.bannerDesc {
  font-weight: 400;
  font-size: 1.5rem;
  color: #292929;
  width: 20%;
}
.M{
  position: relative;
}
.M img{
 position: absolute;
 right: -250px;
}
.banner{
  height: 470px;
  margin-top: 75px;
}
/* Trending component style */
.trend{
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
